@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.container{
    margin-top:30px;
    margin-bottom:50px;
}
.card, .card img{
    border-radius:10px;
}

.card img{
    margin:5px;
}
.btn{
    border-radius: 40px;
    margin-top: 30px;
    background-color: #7386d5;
    border:#7386d5;
}