@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  overflow:hidden;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.wrapper{
  display:flex;
  width:100%;
  align-items:stretch;
}

#sidebar{
  transition:all 0.3s;
  min-width:250px;
  max-width:250px;
  background-color:#7386D5;
  color:#fff;
}

.sidebar-header{
  padding: 20px;
  background: #6d7fcc;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
}
#sidebar.active{
    margin-left:-250px;
}

#sidebar ul.components{
  padding:20px 0;
  background-color: #6d7fcc;
  border-bottom:1px solid #47748b;
}

#sidebar ul p{
  padding:10px;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #7386D5;
}

#sidebar ul a{
  padding:10px;
  font-size:1.1em;
  display:block;
  color:#fff;
  text-decoration:none;
  transition:0.3s;
}

#sidebar ul a:hover{
  background-color:#fff;
  color:#7386D5;
}

#sidebar ul li.active{
  background: #6d7fcc;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a{
  padding-left:20px;
  font-size:0.9em;
}

.nav-item{
  font-size: 1.3em;
  border-radius: 40px;
  margin-right:10px;
  transition:0.3s;
}

.nav-item.active .nav-link.whiten:hover{
  color:#fafafa;
}

#content nav button{
  border-radius:40px;
}
.nav-item:hover{
  background-color:black;
}
.nav-item{
  padding-left:10px;
  padding-right:10px;
  cursor: pointer;
}

#sidebarCollapse{
  background-color: #7386D5;
}

button.sidebarbtn{
  margin-bottom:5px;
  width: 100%;
  border-radius: 40px;
  background-color: white;
  color:#0a0a0a
}
button.sidebarbtn:hover{
  background-color: darkorchid;
  color:#fafafa
}

.email{
  background-color: #5865a1;
}

@media (max-width:786px){
  #sidebar{
    margin-left:-250px;
  }
  #sidebar.active{
    margin-left:0;
  }
  #sidebarCollapse span {
    display: none;
  }
}