html,body{
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow:auto;
}

.topbar{
    background-color: #191919;
    height:5%;
    padding-top: 7px;

}

.topbar,.sidebar .btn{
    font-size: 0.8vmax;
}
.topbar>a{
    margin-bottom:20px;
    color: #818181;
    text-decoration:none;
}
.topbar .bottom{
    font-size:0.8vmax
}

.topbar>a:hover{
    color: #815181;
}

.column>#content{
    height:95%;
    overflow:auto;
}