html,body{
    height:100%;
    margin: 0px;
    padding: 0px;
}

#main{
    width:100%;
    height:100%;
    overflow:hidden;
}

.sidebar{
    background-color: #191919;
    height:100%;
    position:fixed;
    padding-top: 20px;
}

.sidebar .btn{
    font-size: 2vmax;
}
.sidebar>a{
    margin-bottom:20px;
    display:block;
    color: #818181;
    text-decoration:none;
}
.sidebar .bottom{
    font-size:0.8vmax
}

.sidebar>a:hover{
    color: #815181;
}
#content{
    margin-left:20%;
    width: 80%;
    height:100%;
}